*{
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 750px;
    height: 750px;
    flex-wrap: wrap;
    background-color: burlywood;
    padding: 10px;
    border: 2px solid black;
}

.flex-container div{
    width: 100px;
    margin: 5px 5px 5px 5px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;
}

.flex-container .div-hijo1{
    background-color: red;
}
.flex-container .div-hijo2{
    background-color: lightskyblue;
}
.flex-container .div-hijo3{
    background-color: green;
}
.flex-container .div-hijo4{
    background-color: yellow;
}