*{
    margin: 0;
    padding: 0;
    font-family:  'Source Code Pro', monospace;
    box-sizing: border-box;
}
.content {
    /* position: fixed; */
    background-image: url('triskele.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    bottom: 0;
    width: 100%;
    padding: 20px;
}
.header {
    background: url('trisk.png');
    background-size: 100%;
    width: 100%;
    padding: 1rem;
    position: relative;
    /* background: linear-gradient(to right, #292d38, #747578); */
    padding: 3px;
}
  
.title {
    padding: 2rem;
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
}
.container{
    margin-top: 30px;
    padding: 10px 50px;
    position: relative;
    width: 50%;
    border-radius: 6px;
    /* height: 100%; */
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
/* .container:nth-child(1) {
    animation-delay: 0s;
}
.container:nth-child(2) {
    animation-delay: 1s;
}
.container:nth-child(3) {
    animation-delay: 2s;
}
.container:nth-child(4) {
    animation-delay: 3s;
}
.container:nth-child(5) {
    animation-delay: 4s;
}
.container:nth-child(6) {
    animation-delay: 5s;
} */
.text-box{
    min-width: 100%;
    min-height: 100%;
    padding: 20px 30px;
    background: beige;
    position: relative;
    border-radius: 6px;
    font-size: 16px;
    text-align: left;
    opacity: 0;
}
.copaNumancia{
    display: flex;
    justify-content: center;
    margin-right: 350px;
    margin-top: 20%;
    width: 100%;
    height: 50%;
}
#e{
    width: 100%;
    height: 400px;
    align-items: center;
}
.left-container{
    left: 0%;
}
.right-container{
    left: 50%;
}
.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}
.right-container img{
    left: -20px;
}
.timeline{
    max-height: 100%;
    margin-bottom: 320px;
}
/* body::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
} */
@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.text-box h2{
    font-weight: 600;
}
.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid beige;
    right: -15px;
}
.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid beige;
    left: -15px;
}
@media screen and (max-width: 600px){
    .timeline{
        margin: 50px auto;
    }
    .timeline:after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 80%;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container img, .right-container img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid #fff;
        border-left: 0px;
        left: -15px;
    }
}