.contenedorAmarillo{
    display: flex;
    flex-wrap: wrap;
    margin-left:33rem ;
    margin-top:15rem ;
    width: 150px;
    height: 150px;
    background-color: yellow;
    border: 1px solid black;
}
.contenedorAzul{
    margin-top: 24px;
    display: grid;  
    width: 30px;
    height: 30px;
    background-color: rgb(85, 163, 184);
    border: 1px solid black;
}
.uno{
    margin-left: 28px;
    margin-right: 32px;
}
.dos{
    margin-right: 20px;
}
.Negro{
    margin-left: 20px;
    margin-top: 20px;
    width: 110px;
    height: 25px;
    background-color: black;

}
